$vd-dialog-close-width: 50px;
$vd-dialog-close-button-anchor-padding: 10px;
$vd-dialog-close-font-size: 20px;
$vd-dialog-close-border-radius: 50%;
$vd-dialog-close-focus-border-colour: #008ae8;
$vd-dialog-close-text-padding: 5px;
$vd-dialog-close-text-font-size: 12px;
