
// Green
$colour-mountain-meadow: #16C973;
$colour-ocean-green: #44B773;
$colour-chateau-green: #41AF4B;
$colour-java: #20C2A6;

// Blue
$colour-limed-spruce: #3A4953;
$colour-fiord: #485770;
$colour-blue-chill: #10768E;
$colour-bismark: #446A81;
$colour-azure-radiance: #008AE8;
$colour-curious-blue: #1A95EA;
$colour-shakespeare: #56BAD6;
$colour-link-water: #EAF2F9;
$colour-bermuda-gray: #6692B0;
$colour-porcelain: #F0F4F4;
$colour-loblolly: #BECBCF;
$colour-athens-gray: #E5EAED;
$colour-bali-hai: #88A1B3;
$colour-limed-fiord: #303D45;
$colour-fiord-spruce: #3E505C;


// Red
$colour-tia-maria: #C93A0E;
$colour-burnt-sienna: #E6643C;
$colour-linen: #FAF0E3;
$colour-carnation: #F5765F;
$colour-roman: #DA6E54;
$colour-puce: #C7809A;

// Yellow
$colour-tulip-tree: #E8BC34;
$colour-rajah: #F3C276;
$colour-di-serria: #DCAC56;
$colour-pharlap: #A48A88;

// Purple
$colour-wistera: #A059B5;
$colour-waterloo: #7D769B;

// Greyscale
$colour-black: #000000;
$colour-mine-shaft: #252525;
$colour-tundora: #414141;
$colour-scorpion: #606060;
$colour-dusty-gray: #959595;
$colour-nobel: #B5B5B5;
$colour-alto: #D7D7D7;
$colour-gallery: #EBEBEB;
$colour-wild-sand: #F5F5F5;
$colour-alabaster: #FAFAFA;
$colour-white: #FFFFFF;
$colour-shuttle-gray: #556773;

// Quick Key
$colour-new-york-pink: #D77173;
$colour-tacao: #F49B8C;
$colour-golden-sand: #F2C17B;
$colour-gothic: #678E98;
$colour-sinbad: #99C8D4;
$colour-lavender-purple: #AA88B5;
$colour-shuttle-gray: #62676F;
