.ds-metrics-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;

  @include vd-viewport-media-max(small) {
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: start;

    > ds-report-metric {
      flex: 1;

      &:first-child {
        padding-right: $vd-grid-row-gutter-large / 2;
      }
      &:last-child {
        padding-left: $vd-grid-row-gutter-large / 2;
      }
    }
  }
}
