.vd-main-content-container {
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  flex-grow: 1;
  // The content container needs a defined basis size of >1px so it will wrap under the top bar
  flex-basis: 1px;
  height: calc(100% - #{$vd-topbar-height});

  &.vd-nav-rest-of-page {
    height: 100%;
  }
}

.vd-main-content-inner-container {
  flex-grow: 1;
  flex-basis: 0;
  position: relative;
}

.vd-main-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  // Ensures that we can always scroll overflow on iOS even when the content that is overflow is an iframe
  -webkit-overflow-scrolling: touch;

  @media print {
    overflow: visible;
  }
}
