.vd-button-group {
  margin: -$vd-button-group-margin;

  &.vd-button-group--nowrap { white-space: nowrap; }
}

.vd-button {
  @include font-smoothing;
  position: relative;
  font-family: $vd-font-lato;
  cursor: pointer;
  font-size: $vd-font-size--body-content;
  border-radius: $vd-border-radius;
  padding: vd-grid-unit(3) vd-grid-unit(5);
  text-align: center;
  box-sizing: border-box;
  display: inline-block;
  min-width: vd-grid-unit(25);
  margin: 0 vd-grid-unit(1);
  border: $vd-button-stroke-width solid transparent;
  font-weight: 700;
  transition: all $vd-time-s;
  transition-property: background, color, border;
  outline: none;

  &:first-child { margin-left: 0 }
  &:last-child  { margin-right: 0 }

  .vd-button-group & { margin: $vd-button-group-margin; }

  &.vd-button--big {
    @include font-smoothing;
    @include vd-line-height(22, 18);

    font-size: $vd-font-size--section-header;
    padding: vd-grid-unit(4) vd-grid-unit(8);
  }

  &.vd-button--inline {
    background: transparent;
    color: inherit;
    padding: 0;
    display: inline;
    text-decoration: underline;
    border: 0;
    font-weight: inherit;

    @include vd-enabled {
      &:hover { color: $vd-colour-text-link; }
    }
  }

  &.vd-button--panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: vd-grid-unit(30);
    min-width: vd-grid-unit(30);
    flex-grow: 1;
    margin-bottom: vd-grid-unit(2);
    background-color: vd-colour(box);
    padding: vd-grid-unit(3) vd-grid-unit(5);
    border: vd-border(framing, $vd-button-stroke-width);
    color: vd-colour(text);

    @include vd-button--panel-action-styles(vd-colour(go));

    &.vd-button--primary    { @include vd-button--panel(vd-colour(do)); }
    &.vd-button--secondary  { @include vd-button--panel(vd-colour(supplementary)); }
    &.vd-button--negative   { @include vd-button--panel(vd-colour(no)); }
  }

  &.vd-button--primary    { @include vd-button--solid(vd-colour(do)); }
  &.vd-button--secondary  { @include vd-button--solid(vd-colour(supplementary)); }
  &.vd-button--negative   { @include vd-button--solid(vd-colour(no)); }

  &.vd-button--primary, &.vd-button--secondary, &.vd-button--negative {
    &.vd-button--compact {
      min-width: 0px;
    }
  }

  &.vd-button--ghost {
    background: transparent;
    border-color: vd-colour(box);
    color: vd-colour(box);

    @include vd-disabled {
      border-color: rgba(vd-colour(box), 0.5);
      background-color: transparent;
      color: rgba(vd-colour(box), 0.7);
      opacity: 1;
    }

    &:hover { background-color: rgba(vd-colour(box), 0.1); }

    &:focus  {
      border-color: vd-colour(box);
      box-shadow: 0 0 4px 3px rgba(vd-colour(box), 0.4);
    }

    &:active {
      background-color: rgba(vd-colour(box), 0.2);
      box-shadow: 0 0 $vd-shadow-blur $vd-shadow-spread rgba(vd-colour(box), $vd-shadow-opacity);
    }
  }
}


.vd-button-panel-container {
  flex-wrap: wrap;
  display: flex;
  margin-left: -1*vd-grid-unit(1);
  margin-right: -1*vd-grid-unit(1);

    > :first-child { margin-left: vd-grid-unit(1) }
    > :last-child  { margin-right: vd-grid-unit(1) }

    > .vd-button--panel {
      @include vd-viewport-media-max(xsmall) {
        min-width: 100%;
      }
    }
}
