$vd-popover-trigger-spacing: 12px;
$vd-popover-spacing: 24px;
$vd-popover-list-item-spacing: 16px;
$vd-popover-inside-modal-z-index: 420;
$vd-popover-border-radius: 5px;
$vd-popover-beak-size: 12px;
$vd-popover-list-spacing: 8px;
