$vd-sidebar-drawer-background-color: vd-colour(box);
$vd-sidebar-drawer-desktop-width: 145px;

$vd-sidebar-drawer-item-font-size: 14px;
$vd-sidebar-drawer-item-padding-x: 10px;
$vd-sidebar-drawer-item-padding-y: 20px;
