$vd-id-badge-desc-margin: 5px;
$vd-id-badge-spacing: 16px;
$vd-id-badge-spacing-sm: 8px;
$vd-id-badge-image-size-sm: 50px;
$vd-id-badge-table-margin: -10px;
$vd-id-badge-spacing: 16px;
$vd-id-badge-image-size: 75px;
