$vd-colour-table-tr-error-background: #fdf0cc;
$vd-colour-table-tr-hover-background: #e6f3fd;
$vd-colour-table-expanded-border-left: #41af4b;
$vd-nested-reporting-table-container-offset: 3px;
$vd-table-expanded-box-shadow-width: 4px;
$vd-nested-reporting-table-indent-padding: 40px;
$vd-table-compact-font-size: 13px;
