$vd-section--action-bar-min-height: 45px;
$vd-section--action-bar-spacing: 20px;
$vd-section-padding: 20px 48px !global;
$vd-section-padding-v: 20px;
$vd-section-padding-h: 48px;
$vd-section-wrap-max-width: 1100px;
$vd-section--level-2-padding-v: 20px;
$vd-section--level-2-padding-h: 48px;
$vd-section--panel-margin-h: 20px;
